body{
    background-image: url("/Registros/templates/css/Fondo1.JPG");
    background-size: cover;
    margin: 0;
    padding: 0;
}

.contheader{
    background-color: rgb(206, 206, 206);
    height: 150px;
    display: flex;
    align-items: center;
    
}

.titulologo{
    background-color: 0;
    color: darkred;
    width: 35%;
    height: 100px;
    margin-right: 60px;
    margin-left: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.logo{
    background-image: url("https://w7.pngwing.com/pngs/816/690/png-transparent-textile-design-industry-yarn-wool-ayub-textile-industries-ribbon-text-textile.png");
    width: 120px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 50px;
}

.menu{
    background-color: 0;
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.lista{
    display: inline;
    background-color: rgb(52, 18, 114);
    width: 200px;
    border-radius: 50px 10px;
    padding: 20px 10px;

}

.lista1{
    display: inline;
    background-color: rgb(247, 99, 0);
    width: 200px;
    border-radius: 50px 10px;
    padding: 20px 10px;

}

a{ 
    text-decoration: none;
    color: beige;
    font-size: 18px;